In [1]:
# 1. Data Preprocessing

In [2]:
import pandas as pd

file_path = 'Iowa_Liquor_Sales_Sample1.2(cleaned).csv'

# Specify data types for columns 6 (Zip Code) and 14 (Item Number)
column_types = {6: str, 14: str}
df = pd.read_csv(file_path, dtype=column_types)

In [3]:
# Set the display option to show all columns
pd.set_option('display.max_columns', None)
# Display the first few rows of the dataframe
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-46493900074,2022-04-14,3644,WAL-MART 2764 / ALTOONA,3501 8TH ST SW,ALTOONA,50009,POINT (-93.504802 41.644194),77.0,POLK,1062300.0,AGED DARK RUM,482.0,"SOVEREIGN BRANDS, LLC",64529,BUMBU RUM,6,750,18.50,27.75,6,166.50,4.50,1.18
1,INV-46328600021,2022-04-08,3886,WAL-MART 0646 / ANAMOSA,101 115 ST,ANAMOSA,52205,POINT (-91.264951 42.10167),53.0,JONES,1032200.0,IMPORTED FLAVORED VODKA,115.0,CONSTELLATION BRANDS INC,33658,SVEDKA MANGO PINEAPPLE,12,750,8.00,12.00,12,144.00,9.00,2.37
2,INV-46436600015,2022-04-13,2619,HY-VEE WINE AND SPIRITS / WDM,1725 74TH ST,WEST DES MOINES,50266,POINT (-93.808855 41.598515),77.0,POLK,1032100.0,IMPORTED VODKAS,115.0,CONSTELLATION BRANDS INC,35435,SVEDKA 80PRF PET,12,750,8.00,12.00,12,144.00,9.00,2.37
3,INV-46430500055,2022-04-12,3723,J D SPIRITS LIQUOR,1023 9TH ST,ONAWA,51040,POINT (-96.095845 42.025841),67.0,MONONA,1022100.0,MIXTO TEQUILA,395.0,PROXIMO,89198,JOSE CUERVO ESPECIAL REPOSADO,6,1750,21.50,32.25,2,64.50,3.50,0.92
4,INV-46540400001,2022-04-15,5610,CASEY'S GENERAL STORE #2690 / ANAMOSA,500 E MAIN ST,ANAMOSA,52205,POINT (-91.280448 42.10826),53.0,JONES,1062400.0,SPICED RUM,260.0,DIAGEO AMERICAS,43285,CAPTAIN MORGAN ORIGINAL SPICED PET,12,750,9.06,13.59,5,67.95,3.75,0.99

In [4]:
# Understand the data structure
print("Data Structure:")
print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")
print("Column Names:", df.columns.tolist())
print("Data Types:")
print(df.dtypes)

# Check for missing values
print("\nMissing Values:")
missing_values = df.isnull().sum()
print(missing_values)

# Basic statistics for numerical features
print("\nBasic Statistical Details:")
basic_stats = df.describe()
print(basic_stats)

# Basic statistics for categorical features
print("\nBasic Statistical Details for Categorical Features:")
categorical_stats = df.describe(include=['O'])  # 'O' indicates 'object' data type
print(categorical_stats)

# Check for duplicate rows
print("\nDuplicate Rows:")
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Display the first few rows of the dataframe
print("\nFirst Few Rows:")
print(df.head())

Data Structure:
Number of Rows: 21801448
Number of Columns: 24
Column Names: ['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address', 'City', 'Zip Code', 'Store Location', 'County Number', 'County', 'Category', 'Category Name', 'Vendor Number', 'Vendor Name', 'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)']
Data Types:
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number               object
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

Missing Values:
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
dtype: int64

Basic Statistical Details:
       Store Number  County Number      Category  Vendor Number          Pack  \
count  2.180145e+07   2.180145e+07  2.180145e+07   2.180145e+07  2.180145e+07
mean   3.807081e+03   5.688865e+01  1.048797e+06   2.657074e+02  1.222144e+01
std    1.087820e+03   2.746115e+01  7.713995e+04   1.414930e+02  7.716192e+00
min    2.106000e+03   1.000000e+00  1.011000e+06   1.000000e+01  1.000000e+00
25%    2.624000e+03   3.100000e+01  1.012200e+06   1.150000e+02  6.000000e+00
50%    3.866000e+03   6.100000e+01  1.031200e+06   2.600000e+02  1.200000e+01
75%    4.654000e+03   7.700000e+01  1.062400e+06   3.890000e+02  1.200000e+01
max    9.946000e+03   9.900000e+01  1.901200e+06   9.870000e+02  3.360000e+02

       Bottle Volume (ml)  State Bottle Cost  State Bottle Retail  \
count        2.180145e+07       2.180145e+07         2.180145e+07
mean         8.945344e+02       1.021551e+01         1.533541e+01
std          6.488901e+02       1.082223e+01         1.623254e+01
min          0.000000e+00       0.000000e+00         0.000000e+00
25%          7.500000e+02       5.510000e+00         8.270000e+00
50%          7.500000e+02       8.250000e+00         1.238000e+01
75%          1.000000e+03       1.250000e+01         1.875000e+01
max          3.780000e+05       7.680000e+03         1.152000e+04

       Bottles Sold  Sale (Dollars)  Volume Sold (Liters)  \
count  2.180145e+07    2.180145e+07          2.180145e+07
mean   1.068085e+01    1.411801e+02          9.243773e+00
std    3.011101e+01    5.015226e+02          3.610282e+01
min    0.000000e+00    0.000000e+00          0.000000e+00
25%    3.000000e+00    3.306000e+01          1.500000e+00
50%    6.000000e+00    7.416000e+01          4.800000e+00
75%    1.200000e+01    1.470600e+02          1.050000e+01
max    1.500000e+04    2.795573e+05          1.500000e+04

       Volume Sold (Gallons)
count           2.180145e+07
mean            2.439779e+00
std             9.537437e+00
min             0.000000e+00
25%             4.000000e-01
50%             1.270000e+00
75%             2.770000e+00
max             3.962580e+03

Basic Statistical Details for Categorical Features:
       Invoice/Item Number        Date                    Store Name  \
count             21801448    21801448                      21801448
unique            21801448        2665                          2735
top        INV-46493900074  2020-12-22  HY-VEE #3 / BDI / DES MOINES
freq                     1       16145                        201009

                Address        City  Zip Code                Store Location  \
count          21801448    21801448  21801448                      21801448
unique             2594         466       501                          3179
top     3221 SE 14TH ST  DES MOINES     52402  POINT (-93.596754 41.554101)
freq             202140     1888668    547009                        188890

          County      Category Name      Vendor Name Item Number  \
count   21801448           21801448         21801448    21801448
unique        99                103              530       11225
top         POLK  CANADIAN WHISKIES  DIAGEO AMERICAS       11788
freq     3871394            2105019          3626821      222992

       Item Description
count          21801448
unique            10246
top        BLACK VELVET
freq             563051

Duplicate Rows:
Number of duplicate rows: 0

First Few Rows:
  Invoice/Item Number        Date  Store Number  \
0     INV-46493900074  2022-04-14          3644
1     INV-46328600021  2022-04-08          3886
2     INV-46436600015  2022-04-13          2619
3     INV-46430500055  2022-04-12          3723
4     INV-46540400001  2022-04-15          5610

                              Store Name         Address             City  \
0                WAL-MART 2764 / ALTOONA  3501 8TH ST SW          ALTOONA
1                WAL-MART 0646 / ANAMOSA     101  115 ST          ANAMOSA
2          HY-VEE WINE AND SPIRITS / WDM   1725  74TH ST  WEST DES MOINES
3                     J D SPIRITS LIQUOR    1023  9TH ST            ONAWA
4  CASEY'S GENERAL STORE #2690 / ANAMOSA   500 E MAIN ST          ANAMOSA

  Zip Code                Store Location  County Number  County   Category  \
0    50009  POINT (-93.504802 41.644194)           77.0    POLK  1062300.0
1    52205   POINT (-91.264951 42.10167)           53.0   JONES  1032200.0
2    50266  POINT (-93.808855 41.598515)           77.0    POLK  1032100.0
3    51040  POINT (-96.095845 42.025841)           67.0  MONONA  1022100.0
4    52205   POINT (-91.280448 42.10826)           53.0   JONES  1062400.0

             Category Name  Vendor Number               Vendor Name  \
0            AGED DARK RUM          482.0     SOVEREIGN BRANDS, LLC
1  IMPORTED FLAVORED VODKA          115.0  CONSTELLATION BRANDS INC
2          IMPORTED VODKAS          115.0  CONSTELLATION BRANDS INC
3            MIXTO TEQUILA          395.0                   PROXIMO
4               SPICED RUM          260.0           DIAGEO AMERICAS

  Item Number                    Item Description  Pack  Bottle Volume (ml)  \
0       64529                           BUMBU RUM     6                 750
1       33658              SVEDKA MANGO PINEAPPLE    12                 750
2       35435                    SVEDKA 80PRF PET    12                 750
3       89198       JOSE CUERVO ESPECIAL REPOSADO     6                1750
4       43285  CAPTAIN MORGAN ORIGINAL SPICED PET    12                 750

   State Bottle Cost  State Bottle Retail  Bottles Sold  Sale (Dollars)  \
0              18.50                27.75             6          166.50
1               8.00                12.00            12          144.00
2               8.00                12.00            12          144.00
3              21.50                32.25             2           64.50
4               9.06                13.59             5           67.95

   Volume Sold (Liters)  Volume Sold (Gallons)
0                  4.50                   1.18
1                  9.00                   2.37
2                  9.00                   2.37
3                  3.50                   0.92
4                  3.75                   0.99

In [7]:
import pandas as pd

# Sample 10,000 random rows from the dataframe
sample_df = df.sample(n=10000, random_state=42)

# Save the sample to a new CSV file 
sample_file_path = 'Iowa_Liquor_Sales_Sample1.2(cleaned).csv'
sample_df.to_csv(sample_file_path, index=False)

print(sample_df.head())

         Invoice/Item Number        Date  Store Number  \
16354269        S27370600026  2015-08-18          3763
9592645      INV-06381600078  2017-07-31          4829
8580679      INV-02866100007  2017-01-23          4267
20075163        S21985500010  2014-10-23          4881
3523682      INV-36030800015  2021-04-22          6007

                                      Store Name            Address  \
16354269          MAIN STREET LIQUORS / HAWARDEN    911 CENTRAL AVE
9592645                           CENTRAL CITY 2  1501 MICHIGAN AVE
8580679              MAIN STREET MARKET OF ANITA        735 MAIN ST
20075163                SPERRY ONE STOP SHOP LLC        516 HWY 141
3523682   CASEY'S GENERAL STORE #1910 / JOHNSTON  6110 MERLE HAY RD

                 City Zip Code                                 Store Location  \
16354269     HAWARDEN    51023  POINT (-96.48518900000002 42.996100000000006)
9592645    DES MOINES    50314                    POINT (-93.613739 41.60572)
8580679         ANITA    50020                   POINT (-94.765365 41.444887)
20075163  COON RAPIDS    50058                   POINT (-94.678374 41.865913)
3523682      JOHNSTON    50131                    POINT (-93.697676 41.67158)

          County Number   County   Category       Category Name  \
16354269           84.0    SIOUX  1071100.0  AMERICAN COCKTAILS
9592645            77.0     POLK  1012100.0   CANADIAN WHISKIES
8580679            15.0     CASS  1012200.0     SCOTCH WHISKIES
20075163           14.0  CARROLL  1031080.0      VODKA 80 PROOF
3523682            77.0     POLK  1052100.0   IMPORTED BRANDIES

          Vendor Number            Vendor Name Item Number  \
16354269          260.0        DIAGEO AMERICAS       58801
9592645           260.0        DIAGEO AMERICAS       11297
8580679           260.0        DIAGEO AMERICAS       10008
20075163           55.0  SAZERAC NORTH AMERICA       37938
3523682           420.0      MOET HENNESSY USA       48099

                             Item Description  Pack  Bottle Volume (ml)  \
16354269  CAPTAIN MORGAN LONG ISLAND ICED TEA     6                1750
9592645           CROWN ROYAL CANADIAN WHISKY    12                1000
8580679                  SCORESBY RARE SCOTCH     6                1750
20075163                           SKOL VODKA     6                1750
3523682                           HENNESSY VS    24                 200

          State Bottle Cost  State Bottle Retail  Bottles Sold  \
16354269              11.00                16.50             2
9592645               18.89                28.34           120
8580679               10.50                15.75             6
20075163               7.11                10.67             6
3523682                6.99                10.49            24

          Sale (Dollars)  Volume Sold (Liters)  Volume Sold (Gallons)
16354269           33.00                   3.5                   0.92
9592645          3387.60                 120.0                  31.70
8580679            96.66                  10.5                   2.77
20075163           64.02                  10.5                   2.77
3523682           251.76                   4.8                   1.26

In [9]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Downcasting integers and floats
int_columns = ['Store Number', 'Item Number', 'Pack', 'Bottle Volume (ml)', 'Bottles Sold']
float_columns = ['County Number', 'Category', 'Vendor Number', 'State Bottle Cost', 
                 'State Bottle Retail', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)']

df[int_columns] = df[int_columns].astype('int32')
df[float_columns] = df[float_columns].astype('float32')

In [10]:
non_int_values = df['Item Number'][~df['Item Number'].apply(lambda x: str(x).isdigit())]
print(non_int_values)

Series([], Name: Item Number, dtype: int32)

In [11]:
# Remove rows where 'Item Number' is not a digit
df = df[df['Item Number'].apply(lambda x: str(x).isdigit())]

# Attempt conversion again
df[int_columns] = df[int_columns].astype('int32')

In [12]:
# Convert Date to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Downcasting integers and floats
int_columns = ['Store Number', 'Item Number', 'Pack', 'Bottle Volume (ml)', 'Bottles Sold']
float_columns = ['County Number', 'Category', 'Vendor Number', 'State Bottle Cost', 
                 'State Bottle Retail', 'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)']

df[int_columns] = df[int_columns].astype('int32')
df[float_columns] = df[float_columns].astype('float32')

In [13]:
print("Data Types:")
print(df.dtypes)

Data Types:
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                      int32
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                   float32
County                           object
Category                        float32
Category Name                    object
Vendor Number                   float32
Vendor Name                      object
Item Number                       int32
Item Description                 object
Pack                              int32
Bottle Volume (ml)                int32
State Bottle Cost               float32
State Bottle Retail             float32
Bottles Sold                      int32
Sale (Dollars)                  float32
Volume Sold (Liters)            float32
Volume Sold (Gallons)           float32
dtype: object

In [14]:
import sys

size_in_bytes = sys.getsizeof(df)
size_in_megabytes = size_in_bytes / (1024**2)  # Convert bytes to megabytes

print(f"Size of DataFrame in memory: {size_in_bytes} bytes")
print(f"Size of DataFrame in memory: {size_in_megabytes} MB")

Size of DataFrame in memory: 17428248989 bytes
Size of DataFrame in memory: 16620.873440742493 MB

In [25]:
# Save the sample to a new CSV file 
file_path = 'Iowa_Liquor_Sales_Sample1.2(cleaned).csv'
df.to_csv(file_path, index=False)

In [ ]:
# Data Cleaning

In [ ]:
missing_percentage = (df.isnull().sum().sum() / (df.shape[0] * df.shape[1])) * 100
missing_percentage

In [20]:
df.dropna(inplace=True)
# Check for missing values
print("\nMissing Values:")
missing_values = df.isnull().sum()
print(missing_values)

Missing Values:
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
dtype: int64

In [18]:
corr_matrix = df.corr(numeric_only=True)
print(corr_matrix)

                       Store Number  County Number  Category  Vendor Number  \
Store Number               1.000000      -0.002428  0.009834       0.019775
County Number             -0.002428       1.000000 -0.003563      -0.002463
Category                   0.009834      -0.003563  1.000000       0.066868
Vendor Number              0.019775      -0.002463  0.066868       1.000000
Item Number               -0.005188       0.006362  0.249234       0.112423
Pack                       0.101107       0.022851 -0.049791      -0.037675
Bottle Volume (ml)        -0.088339      -0.025925 -0.024697       0.008008
State Bottle Cost         -0.031754       0.007585  0.050694      -0.001394
State Bottle Retail       -0.031972       0.007579  0.050656      -0.001628
Bottles Sold               0.006468       0.017762  0.007516       0.021323
Sale (Dollars)            -0.023751       0.014163  0.011244      -0.003531
Volume Sold (Liters)      -0.029354       0.005612  0.002003       0.005986
Volume Sold (Gallons)     -0.029416       0.005613  0.001981       0.005967

                       Item Number      Pack  Bottle Volume (ml)  \
Store Number             -0.005188  0.101107           -0.088339
County Number             0.006362  0.022851           -0.025925
Category                  0.249234 -0.049791           -0.024697
Vendor Number             0.112423 -0.037675            0.008008
Item Number               1.000000 -0.032158           -0.035427
Pack                     -0.032158  1.000000           -0.449770
Bottle Volume (ml)       -0.035427 -0.449770            1.000000
State Bottle Cost         0.096622 -0.276506            0.384296
State Bottle Retail       0.096523 -0.276783            0.384598
Bottles Sold              0.030900  0.139924           -0.015895
Sale (Dollars)            0.036410 -0.043966            0.062146
Volume Sold (Liters)      0.035380 -0.052571            0.114842
Volume Sold (Gallons)     0.035366 -0.052535            0.114825

                       State Bottle Cost  State Bottle Retail  Bottles Sold  \
Store Number                   -0.031754            -0.031972      0.006468
County Number                   0.007585             0.007579      0.017762
Category                        0.050694             0.050656      0.007516
Vendor Number                  -0.001394            -0.001628      0.021323
Item Number                     0.096622             0.096523      0.030900
Pack                           -0.276506            -0.276783      0.139924
Bottle Volume (ml)              0.384296             0.384598     -0.015895
State Bottle Cost               1.000000             0.999943     -0.046059
State Bottle Retail             0.999943             1.000000     -0.046067
Bottles Sold                   -0.046059            -0.046067      1.000000
Sale (Dollars)                  0.099898             0.099924      0.834442
Volume Sold (Liters)            0.008195             0.008279      0.877691
Volume Sold (Gallons)           0.008168             0.008253      0.877695

                       Sale (Dollars)  Volume Sold (Liters)  \
Store Number                -0.023751             -0.029354
County Number                0.014163              0.005612
Category                     0.011244              0.002003
Vendor Number               -0.003531              0.005986
Item Number                  0.036410              0.035380
Pack                        -0.043966             -0.052571
Bottle Volume (ml)           0.062146              0.114842
State Bottle Cost            0.099898              0.008195
State Bottle Retail          0.099924              0.008279
Bottles Sold                 0.834442              0.877691
Sale (Dollars)               1.000000              0.842622
Volume Sold (Liters)         0.842622              1.000000
Volume Sold (Gallons)        0.842619              1.000000

                       Volume Sold (Gallons)
Store Number                       -0.029416
County Number                       0.005613
Category                            0.001981
Vendor Number                       0.005967
Item Number                         0.035366
Pack                               -0.052535
Bottle Volume (ml)                  0.114825
State Bottle Cost                   0.008168
State Bottle Retail                 0.008253
Bottles Sold                        0.877695
Sale (Dollars)                      0.842619
Volume Sold (Liters)                1.000000
Volume Sold (Gallons)               1.000000

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


corr_matrix = df.corr(numeric_only=True)

# Set up the matplotlib figure
plt.figure(figsize=(12, 8))

# Draw the heatmap
sns.heatmap(corr_matrix, annot=True, fmt=".2f", cmap='coolwarm',
            xticklabels=corr_matrix.columns,
            yticklabels=corr_matrix.columns)

# Add title
plt.title('Correlation Matrix Heatmap')

# Show the plot
plt.show()

Correlation between Bottle Volume and Pack Size:

There is a notable negative correlation between Bottle Volume (ml) and Pack. This might suggest that larger bottle volumes are less likely to be sold in larger packs, or vice versa.

In [ ]:
# Extract year, month, and day of the week
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['DayOfWeek'] = df['Date'].dt.day_name()

In [ ]:
# Summarize sales by year, month, and day of the week
yearly_sales = df.groupby('Year')['Sale (Dollars)'].sum()
monthly_sales = df.groupby(['Year', 'Month'])['Sale (Dollars)'].sum()
weekday_sales = df.groupby('DayOfWeek')['Sale (Dollars)'].sum()

In [ ]:
# Set display options for pandas
pd.options.display.float_format = '{:,.0f}'.format

print("Yearly Sales:")
print(yearly_sales)

monthly_sales_unstacked = monthly_sales.unstack(level=-1)  # Unstack the month level
print("Monthly Sales:")
print(monthly_sales_unstacked)

print("Sales by Day of the Week:")
print(weekday_sales)

In [ ]:
# Plotting Yearly Sales Trend
plt.figure(figsize=(10, 6))
sns.lineplot(data=yearly_sales)
plt.title('Yearly Sales Trend')
plt.xlabel('Year')
plt.ylabel('Total Sales (Dollars)')

# Format the y-axis labels to include commas in numbers
plt.gca().get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

plt.show()

In [ ]:
df = df[df['Year'] != 2022]
# Summarize sales by year, month, and day of the week
yearly_sales = df.groupby('Year')['Sale (Dollars)'].sum()
monthly_sales = df.groupby(['Year', 'Month'])['Sale (Dollars)'].sum()
weekday_sales = df.groupby('DayOfWeek')['Sale (Dollars)'].sum()# Set display options for pandas
pd.options.display.float_format = '{:,.0f}'.format

In [ ]:
# Plotting Yearly Sales Trend
plt.figure(figsize=(10, 6))
sns.lineplot(data=yearly_sales)
plt.title('Yearly Sales Trend')
plt.xlabel('Year')
plt.ylabel('Total Sales (Dollars)')

# Format the y-axis labels to include commas in numbers
plt.gca().get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

plt.show()

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'yearly_sales' DataFrame has 'Year' and 'Total Sales' columns

# Split the data into features (X) and target variable (y)
X = yearly_sales[['Year']]
y = yearly_sales['Total Sales']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Plot the original data and the regression line
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Year', y='Total Sales', data=yearly_sales, label='Actual Sales')
sns.lineplot(x=X_test['Year'], y=y_pred, color='red', label='Regression Line')
plt.title('Yearly Sales with Linear Regression')
plt.xlabel('Year')
plt.ylabel('Total Sales (Dollars)')
plt.legend()
plt.show()

NameError: name 'yearly_sales' is not defined

In [23]:
# Pivot the DataFrame
monthly_sales_pivot = monthly_sales_reset.pivot(index='Month', columns='Year', values='Sale (Dollars)')

# Plotting Stacked Bar Chart
plt.figure(figsize=(12, 8))
monthly_sales_pivot.plot(kind='bar', stacked=True, ax=plt.gca())

plt.title('Monthly Sales Trend by Year (Stacked)')
plt.xlabel('Month')
plt.ylabel('Total Sales (Dollars)')
plt.xticks(range(0, 12), ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], rotation=0)

# Format the y-axis labels to include commas in numbers
plt.gca().get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

# Place the legend outside the graph
plt.legend(title='Year', bbox_to_anchor=(1.05, 1), loc='upper left')

plt.show()

NameError: name 'monthly_sales_reset' is not defined

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker

product_sales = df.groupby('Item Description')['Sale (Dollars)'].sum().sort_values(ascending=False)
top_products = product_sales.head(40)

# Plotting the top products
plt.figure(figsize=(12, 8))
sns.barplot(x=top_products.values, y=top_products.index)

# Set the x-axis formatter to include commas
plt.gca().xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))

plt.title('Top 10 Most Popular Products by Sales')
plt.xlabel('Total Sales (Dollars)')
plt.ylabel('Product')
plt.show()

In [ ]:
# Aggregate sales by category
category_sales = df.groupby('Category Name')['Sale (Dollars)'].sum().sort_values(ascending=False)

# Select top categories for visualization 
top_categories = category_sales.head(40)

# Plotting sales by category
plt.figure(figsize=(12, 8))
sns.barplot(x=top_categories.values, y=top_categories.index)

# Set the x-axis formatter to include commas
plt.gca().xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))
plt.title('Top Categories by Sales')
plt.xlabel('Total Sales (Dollars)')
plt.ylabel('Category')
plt.show()

In [ ]:
# Aggregate sales by store
store_sales = df.groupby('Store Name')['Sale (Dollars)'].sum().sort_values(ascending=False)

# Select top 40 stores
top_stores = store_sales.head(40)

# Plotting the top stores
plt.figure(figsize=(15, 10))
sns.barplot(x=top_stores.values, y=top_stores.index)

# Format the x-axis labels to include commas in numbers
plt.gca().get_xaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

plt.title('Top 40 Stores by Sales')
plt.xlabel('Total Sales (Dollars)')
plt.ylabel('Store Name')
plt.show()

In [ ]:
# Aggregate sales by city
city_sales = df.groupby('City')['Sale (Dollars)'].sum().sort_values(ascending=False)

# Select top 40 cities
top_cities = city_sales.head(40)

# Plotting the top cities
plt.figure(figsize=(15, 10))
sns.barplot(x=top_cities.values, y=top_cities.index)

# Format the x-axis labels to include commas in numbers
plt.gca().get_xaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))

plt.title('Top 40 Cities by Sales')
plt.xlabel('Total Sales (Dollars)')
plt.ylabel('City')
plt.show()

In [ ]:
# Count the occurrences of each bottle volume
bottle_volume_counts = df['Bottle Volume (ml)'].value_counts().head(15)

# Plotting the most popular bottle volumes
plt.figure(figsize=(12, 8))
sns.barplot(x=bottle_volume_counts.values, y=bottle_volume_counts.index.astype(str))

# Set the x-axis formatter to include commas
plt.gca().xaxis.set_major_formatter(ticker.StrMethodFormatter('{x:,.0f}'))

plt.title('Top 15 Most Popular Bottle Volumes')
plt.xlabel('Number of Occurrences')
plt.ylabel('Bottle Volume (ml)')
plt.show()

In [21]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

# Assuming 'sales_sum' is your DataFrame containing the data
# Replace 'Sale (Dollars)' with the actual column name in your dataset
# Make sure that 'Year' is a numeric feature in your dataset

# Identify items ranked 92nd to 100th based on total sales
items_92_to_100 = sales_sum.groupby('Item Description')['Sale (Dollars)'].sum().nlargest(100).index[91:]

# Filter the data to keep only items ranked 92nd to 100th
filtered_data = sales_sum[sales_sum['Item Description'].isin(items_92_to_100)]

# Pivot the data for plotting
pivot_data = filtered_data.pivot(index='Year', columns='Item Description', values='Sale (Dollars)')

# Linear regression model
regression_model = LinearRegression()

# Prepare data for regression
X = np.array(pivot_data.index).reshape(-1, 1)  # Year
y = pivot_data.mean(axis=1).values.reshape(-1, 1)  # Average sales for all items

# Fit the model
regression_model.fit(X, y)

# Predict sales using the model
predicted_sales = regression_model.predict(X)

# Plotting the trend lines and regression line
plt.figure(figsize=(15, 8))
markers = ['o', 's', 'v', '^', 'D', 'p', '*', 'h', 'x', '+']  # Adjust markers as needed, add more if necessary

# Plotting the trend lines
for column, marker in zip(pivot_data.columns, markers):
    plt.plot(pivot_data.index, pivot_data[column], marker=marker, linewidth=2, label=column)

# Plotting the regression line
plt.plot(pivot_data.index, predicted_sales, color='black', linestyle='--', linewidth=2, label='Regression Line')

plt.axhline(0, color='black', linestyle='--')  # Add a zero line to the y-axis

plt.title('Annual Sales Trend of Items Ranked 92nd to 100th with Linear Regression')
plt.xlabel('Year')
plt.ylabel('Total Sales ($)')
plt.xticks(pivot_data.index)  # Set the x-axis ticks to be the years
plt.legend(title='Item Description', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.gca().get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))
plt.grid(True)
plt.show()

NameError: name 'sales_sum' is not defined